<div class="container">

  <!-----------------
  to display higlighed quote
-------------------- -->

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
     <div  class = "card popular" appHighlight >
        <h4>Most Popular Quote:</h4>
        <div *ngIf="firstQuote()"class="col-md-12">
          <h6 >{{quotes[0].details}} <span class ="author">~{{quotes[0].author}} </span></h6>

        </div>
        <div class="col-md-4">
          <i class="fa fa-thumbs-up" id = "upvote"  (click)="upvoteCounter(i)">{{quotes[0].upVote}} </i>
          <i class="fa fa-thumbs-down" id = "downvote" (click) = "downvoteCounter(i)" >{{quotes[0].downVote}}</i>

       </div>

        <!-- <--<p> Uploaded by:{{quote.name}} </p>
       <app-quote-detail (deleteQuote) = 'removeQuote($event,i)'  [quote]='quote'></app-quote-detail> -->


    </div>
  </div>

    <div class="col-md-2"></div>

</div>

<!----------
Display normal quotes
----- -->


  <div class="row " >
    <div class="col-md-2"></div>
    <div class="col-md-8 ">
      <div *ngFor='let quote of quotes;let i = index' class = "card" >
          <div class="col-md-12">
            <h6>{{quote.details}} <span class ="author">~{{quote.author}} </span></h6>
          </div>

          <div class="col-md-12">
            <i class="fa fa-thumbs-up" id = "upvote"  (click)="upvoteCounter(i)">{{quote.upVote}} </i>
            <i class="fa fa-thumbs-down" id = "downvote" (click) = "downvoteCounter(i)" >{{quote.downVote}}</i>
            <button (click)='toggleNameDate(i)' class ="details">Details</button>
          </div>


            <app-quote-detail  *ngIf='quote.showDateName'(deleteQuote) = 'removeQuote($event,i)'  [quote]='quote'></app-quote-detail>




          <hr>
          <hr>
      </div>
    </div>
    <div class="col-md-2"></div>


  </div>


</div>
