/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.card{

  border-color: transparent;
}
p{
  font-size: 14px;
}
.author{
  font-weight: bolder;
  text-align: right;
}
