/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
body{
  font-family: 'Nunito', sans-serif;
}
.jumbotron{
  padding-top: 2%;

}

.container{
  margin-top: -6%;
}


.jumbotron p{
  text-align: center;
  font-size: 16px;
  font-style: italic;
}
.card{

  border-color: transparent;
}
p{
  font-size: 12px;
}
.author{
  font-weight: bolder;
    font-size: 12px;

}
h1{
  font-family: 'Pacifico', cursive;
  text-align: center;
}
hr{
  width:60%;
}
#downvote,#upvote{
font-size:25px;
}
#downvote{
  padding-left: 2%;
}

.popular h6,h4{
  font-size: 12px;
}

.popular h4{
  font-size: 16px;
  font-weight: bold;
  text-align: center;

}

.popular .author{
  font-size: 10px;
}
.popular #downvote{
font-size:15px;
}
.popular #upvote{
font-size:15px;
}

.details{
  float:right;
}
