<div class="container-fluid">
  <h5 class="text-center" id ="uploadheader">Upload a new Quote(optional)</h5>
  <hr>
  <form  (ngSubmit)='uploadQuote()'#quoteForm='ngForm'>
      <div class="form-group">


          <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel' placeholder="Name">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p>Name is required</p>
          </div>

      </div>
      <div class="form-group">


          <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author = 'ngModel' placeholder ="Author" required>
          <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
            <p>Author is required</p>
          </div>

      </div>
      <div class="form-group">
          <textarea class="form-control" id="details" rows="1" [(ngModel)]="newQuote.details" name="details"  #details= 'ngModel' placeholder ="Type Quote" required></textarea>
          <div [hidden]="details.valid || details.pristine" class="alert alert-danger">
            <p>Quote is required</p>
          </div>
      </div>
      <div class="form-group">
          <label for="complete"> Date of Upload </label>
          <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate"  #completeDate= 'ngModel'required>
          <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
            <p>Quote is required</p>
          </div>
      </div>
       <button type="submit" class="btn btn-sm btn-outline-success" id="upload">Upload Quote</button>
  </form>
</div>
